doctype html
html
  head
    title parallax
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    script(src="script.js" defer)
  body
    section
      .text
        h2(style="--i:0.5")
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
        h2(style="--i:1.5")
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
        h2(style="--i:2.5")
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
        h2(style="--i:2.25")
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
        h2(style="--i:1.25")
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
        h2(style="--i:0.75")
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
        h2(style="--i:3")
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
        h2(style="--i:0.35")
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
        h2(style="--i:2.35")
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
          span Just 4 Fun
        