doctype html
html
  head
    title scroll
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
  body
    .container
      section
        .content
          h2 Section One Title
          p qawsedrftgyhujikolp;
      section
        .content
          h2 Section Two Title
          p qawsedrftgyhujikolp;
      section
        .content
          h2 Section Three Title
          p qawsedrftgyhujikolp;
      section
        .content
          h2 Section Four Title
          p qawsedrftgyhujikolp;
      section
        .content
          h2 Section Five Title
          p qawsedrftgyhujikolp;